.details-page-wrapper {
  background: linear-gradient(to top, #86DBFF 0%, #e0c3fc 100%);
  /* hiển thị theo flex */
  display: flex;
  /* nội dung ở trong được canh giữa theo phương ngang,
  chỉ khi flex theo mặc định (theo phương ngang) */
  justify-content: center;
  /* nội dung ở trong được canh giữa theo phương dọc,
  chỉ khi flex theo mặc định (theo phương ngang) */
  align-items: center;
  /* những phần trong xác định vị trí theo vị trí tương đối */
  position: relative;
  /* đệm trên và dưới */
  padding: 2rem 0;
}

.details-page-wrapper-dark {
  background: linear-gradient(#495CFC, #FC7DB8);
}

/* hình tròn làm nền phía sau */
.background-gradient-circle {
  /* lấy theo tọa độ của class cha: .details-page-wrapper
  class cha phải đặt position: relative; */
  position: absolute;
  /* khoảng cách với cạnh trên (% or px), phải có position */
  top: 50%;
  z-index: 0;
  /* chiều cao chiếm hết màn hình,
  chỉ đặt % khi position cha là relative và con là absolute */
  height: 100%;
  /* bề rộng chiếm hết màn hình,
  đặt % được không phụ thuộc position */
  width: 100%;
  border-radius: 50%;
  background: #FC7DB8;
  /* chuyển đổi màu nền của hình tròn nền trong 4s */
  /* mất 4s để có được màu nền này */
  transition: background 4s ease;
  /* sử dụng hoạt ảnh định nghĩa trong biến scaleup-circle */
  animation: scaleup-circle 0.5s ease-in-out forwards;
}

.background-gradient-circle-dark {
  background: #6676FF;
}

@keyframes scaleup-circle {
  0% {
    transform-origin: top;
    transform: scale(0) translateY(-50%) rotate(0);
  }
  
  100% {
    transform-origin: center;
    transform: scale(1) translateY(-50%) rotate(360deg);
  }
}

/* nút BACK */
.back-button {
  position: absolute;
  /* khoảng cách với cạnh trên,
  nếu không đặt thì lấy theo định nghĩa trong .details-page-wrapper */
  top: 3rem;
  /* khoảng cách với cạnh trái,
  nếu không đặt thì lấy theo định nghĩa trong .details-page-wrapper */
  left: 3.25rem;
  width: 5rem;
  cursor: pointer;
  z-index: 2;
  /* lề trên */
  margin-top: 3rem;
}

/* vùng ghi thông tin thời tiết */
.main-weather-card {
  position: relative;
  /* màu nền */
  background-color: white;
  /* đặt % chiều ngang không phụ thuộc position,
  chiều cao sẽ do các thành phần bên trong chiếm, không cần đặt */
  width: 75%;
  border-radius: 1rem;
  z-index: 1;
  animation: 1s ease-out .3s scaleup, 1.25s ease-out .3s forwards fadein;
}

@keyframes scaleup {
  0% {
    transform: scale(0);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

/* hình ảnh đại diện thành phố */
.city-illustration {
  /* chiếm hết bề ngang của class cha */
  width: 100%;
  /* chiều cao luôn là 420px không phụ thuộc vào chiều rộng màn hình */
  height: 420px;
  border-radius: 1rem 1rem 0 0;
  /* chiếm hết diện tích, không có lề trên và dưới */
  object-fit: cover;
}

/* vùng ghi thông tin thời tiết hiện tại và tên thành phố đó */
.header-content-wrapper {
  /* lấy tọa độ dựa vào tọa độ của class cha gần nhất */
  position: absolute;
  z-index: 1;
  color: rgb(255, 255, 255);
  top: 1rem;
  display: grid;
  /* chia làm 2 cột, mỗi cột rộng 1fr */
  grid-template-columns: repeat(2, 1fr);
  /* lưới chiếm 100% chiều rộng */
  width: 100%;
}

/* vùng ghi nhiệt độ, trạng thái thời tiết, độ ẩm, gió hiện tại */
.today-weather-container {
  display: grid;
  /* nội dung của nó nằm chính giữa theo phương ngang */
  justify-items: center;
  /* khoảng cách với phần lưới trên */
  grid-gap: 2rem;
}

/* vùng ghi nhiệt độ và trạng thái thời tiết */
.temp-state-container {
  display: flex;
  /* sắp xếp các mục theo chiều dọc */
  flex-direction: column;
  /* canh giữa các phần tử ở trong */
  /* align-items: center; */
}

.temperature-text {
  font-size: 6rem;
  letter-spacing: 0.75rem;
}

.weather-state-text {
  letter-spacing: 0.5rem;
  font-size: 1.15rem;
  text-transform: uppercase;
  margin-top: 0.25rem;
}

/* vùng ghi độ ẩm và gió hiện tại */
.hum-wind-container {
  /* flex mặc định theo chiều ngang */
  display: flex;
  /* canh giữa theo phương dọc */
  align-items: center;
}

.hum-container, .wind-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hum-text, .wind-text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.hum-wind-separator {
  margin: 0 2rem;
  width: 2px;
  height: 2.5rem;
  background-color: white;
}

/* vùng ghi thành phố */
.city-name-container {
  display: flex;
  /* canh giữa theo phương ngang */
  justify-content: center;
  /* canh giữa theo phương dọc */
  align-items: center;
  padding-bottom: 20%;
}

.city-name-underline {
  border-radius: 5px;
  height: 5px;
  box-shadow: 0 3rem 0 0 #ffffff;
}

.city-name-text {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.75rem;
}

/*
================
     BODY
================
*/

.body-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* khoảng cách giữa 2 cột */
  grid-gap: 1rem;
  padding: 2rem;
}

/* phần twitter */
.twitter-feed-container {
  margin-top: 1rem;
  /* width: 100%; */
}

.twitter-feed-body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
}

.twitter-loader {
  border: 3px solid hsla(185, 100%, 62%, 0.2);
  border-top-color: #3cefff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.twitter-no-tweets-text {
  margin-top: 3rem;
  text-align: center;
}

.twitter-feed-text {
  color: #0c1066;
  font-size: 1.25rem;
}

.twitter-icon {
  width: 1.5rem;
}

.twitter-feed-tag-text {
  font-size: 0.85rem;
  color: #5f84fb;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.twitter-feed-header {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
}


.twitter-tweet-container {
  margin-top: 2rem;
}

.tweet-user-wrapper {
  display: flex;
  margin-bottom: 0.5rem;
}

.tweet-avatar-image {
  margin-right: 0.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.tweet-username-text {
  display: block;
  font-weight: bold;
}

.tweet-text {
  margin-top: 0
}

/* forecast-container */
.forecast-container {
  /* hiển thị dạng flex (hàng ngang) */
  display: flex;
  justify-content: center;
  /* tự động xuống hàng nếu chiếm hết bề ngang */
  flex-wrap: wrap;
}

.day-weather-container {
  display: flex;
  /* hiển thị theo cột (hàng dọc) */
  flex-flow: column;
  margin: 2rem 1.5rem;
  /* canh giữa các phần tử ở trong */
  align-items: center;
}

.day-name-text {
  font-size: 1.5rem;
  color: #39437a;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.forecast-condition-icon {
  height: 4rem;
}

.day-temp-text {
  font-size: 1.85rem;
  color: #0c1066;
  letter-spacing: 0.25rem;
  margin: 0.75rem 0;
  padding-left: 0.35rem;
}

.day-state-text {
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #2B244D;
}

/* khi chiều rộng màn hình <= 1279px */
@media (max-width: 1279px) {
  
  .back-button {
    /* khoảng cách với cạnh trên */
    top: 2rem;
    /* lề trên */
    margin-top: 2rem;
  }
  
  .main-weather-card {
    /* chiều ngang chiếm 80% */
    width: 80%;
  }
  
  .body-content-wrapper {
    /* hiển thị theo cột */
    grid-template-columns: 1fr;
  }
}

/* khi chiều rộng màn hình <= 959px */
@media (max-width: 959px) {

  .details-page-wrapper {
    /* sắp xếp hiển thị theo chiều dọc */
    flex-flow: column;
    /* canh giữa theo phương ngang
      (chỉ khi hiển thị theo chiều dọc) */
    align-items: center;
    /* nội dung ở trong được canh giữa theo phương dọc,
      (chỉ khi hiển thị theo chiều dọc) */
    justify-content: center;
    padding-bottom: 25%;
  }

  .back-button {
    /* khi ở kích thước màn hình này thì button không dùng position */
    position: static;
    margin-bottom: 1rem;
  }
  
  .header-content-wrapper {
    /* hiển thị theo chiều dọc */
    grid-template-columns: 1fr;
    /* chiều cao của 2 hàng */
    grid-template-rows: 2fr 1fr;
    grid-gap: 2rem;
  }

  .city-name-container {
    /* đệm dưới bằng 0 */
    padding-bottom: 0;
  }

}