<svg class="back_button" routerLink="" viewBox="4085 152 98.5 126">
  <defs>
    <style>
      .a {
        fill: #8f0ee6;
        transform: translate(105px, 152px);
      }

      .b,
      .c {
        stroke: #fff;
        stroke-width: 2px;
      }

      .d {
        fill: #fff;
        font-size: 20px;
        letter-spacing: 0.4em;
        transform: translate(117px, 274px);
      }
    </style>
  </defs>
  <g transform="translate(3980)">
    <circle class="a" cx="39" cy="39" r="39"></circle>
    <line class="b" transform="translate(123.5 190.5)" x1="80"></line>
    <line class="b" transform="translate(123.5 164.5)" x2="26" y1="26"></line>
    <line class="c" transform="translate(123.5 190.5)" x1="26" y1="27"></line>
    <text class="d">
      <tspan x="0" y="0">BACK</tspan>
    </text>
  </g>
</svg>
<section class="content">
  <img class="city_illustration" [src]="cityIllustrationPath" />
  <div class="header-content_wrapper">
    <div class="today-weather_container">
      <div class="temp-state_container">
        <span class="temperature_text">{{temp}}°</span>
        <span class="weather-state_text">{{state}}</span>
      </div>
      <div class="hum-wind_container">
        <div class="container">
          <span class="text">humidity</span>
          <span>{{hum}} %</span>
        </div>
        <div class="separator">&nbsp;</div>
        <div class="container">
          <span class="text">wind</span>
          <span>{{wind}} K/M</span>
        </div>
        <div class="separator">&nbsp;</div>
        <div class="container">
          <span class="text">Min</span>
          <span>{{minTemp}}°</span>
        </div>
        <div class="separator">&nbsp;</div>
        <div class="container">
          <span class="text">Max</span>
          <span>{{maxTemp}}°</span>
        </div>
      </div>
    </div>
    <div class="city-name_container">
      <div class="city-name_underline">
        <span class="city-name_text">{{city}}</span>
      </div>
    </div>
  </div>
</section>

<app-error [message]="errorMessage"></app-error>