/*
    Slide Menu
*/
.side-menu_container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
	z-index: 50;
}

.side-menu_container-active {
	pointer-events: auto;
}

.slide-menu {
	box-sizing: border-box;
	transform: translateX(-200%);
	position: relative;
	top: 0;
	left: 0;
	z-index: 50;
	min-height: 100vh;
	width: 90%;
	max-width: 26rem;
	background-color: white;
	box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 4fr 1fr;
	grid-gap: 1rem;
	transition: transform 300ms linear;
	will-change: transform;
}

.slide-menu-active {
	transform: none;
}

.slide-menu-active-dark {
	background-color: #2B244D;
}

.menu-header {
	background: linear-gradient(to right, #00FF9B, #5f84fb);
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "greeting greeting" "image details";
	box-sizing: border-box;
	width: 100%;
	align-content: center;
	color: white;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.menu-header-dark {
	background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.greeting_text {
	grid-area: greeting;
	font-size: 1.25rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	margin-top: 1rem;
	justify-self: center;
	align-self: center;
}

.profile-image_container {
	grid-area: image;
	margin-right: 0.5rem;
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	align-self: center;
	margin-left: 2rem;
}

.profile_image {
	max-width: 4rem;
}

.account-details {
	grid-area: details;
	display: flex;
	flex-flow: column;
	margin-left: 1rem;
	align-self: center;
}

.name_text {
	font-size: 1.15rem;
	margin-bottom: 0.5rem;
}

.email_text {
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}

.menu-body {
	display: grid;
	width: 100%;
}

.menu-links {
	display: flex;
	flex-flow: column;
	list-style: none;
}

.menu-links-dark {
	color: white;
}

.link-active {
	color: #495CFC;
	border-bottom: 1px solid #495CFC;
}

.menu-link {
	outline: none;
	font-size: 1rem;
	padding: 1rem 0;
	margin: 0.5rem 0;
	cursor: pointer;
}


.copyright_text {
	display: block;
	text-align: center;
}

/* style cho nội dung chính ở chế độ sáng */
.root_container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-flow: column;
	transition: background 300ms linear;
}

/* style cho nội dung chính ở chế độ tối */
.root_container-dark {
	background-image: linear-gradient(to top, #5ee7df 0%, #372865 100%);
}

/* Style cho phần header */
.main_header {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 0.25fr;
	box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
	margin: 0;
	min-height: 4rem;
	align-items: center;
	transition: background-color 500ms linear;
	animation: slidedown 0.5s ease-in-out, fadein 1s ease-in-out;
}

/* Style cho header khi ở chế độ tối */
.main_header-dark {
	background-color: #2B244D;
	color: white;
}

/*
 left section
 */
.left_section {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	max-width: 5rem;
}

.hamburger_icon {
	position: relative;
	z-index: 50;
	height: 1rem;
	padding: 0.5rem 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
}

.logo_icon {
	height: 2rem;
	margin-left: 1rem;
}

.logo_text {
	fill: #2B244D;
}

.logo_text-dark {
	fill: #ffff;
}

/* Style cho chữ */
.date_text {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin: 0.5rem 0;
}

/* Style cho chữ của điều khiển LIGHT và DARK */
.mode-toggle_text {
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

/* Style vị trí nút trượt */
.toggle-button_container {
	position: relative;
	margin: 0 0.75rem 0 0.25rem;
}

/* Style để ẩn nút checkbox */
.mode-toggle_input {
	-webkit-appearance: none;
}

/* Style cho thanh trượt */
.mode-toggle_bg {
	height: 1rem;
	width: 2rem;
	border-radius: 0.5rem;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	transition: background-color 300ms linear;
}

/* Style cho thanh trượt khi chọn (ở chế độ tối)  */
.mode-toggle_bg-checked {
	background-color: #FF0070;
}

/* Style cho nút trượt */
.mode-toggle_circle {
	height: 1.30rem;
	width: 1.30rem;
	background-color: #2B244D;
	position: absolute;
	top: -0.18rem;
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
	transition: left 300ms linear;
	left: 0.2rem;
}

/* Style cho nút trượt khi chọn (ở chế độ tối)  */
.mode-toggle_circle-checked {
	background-color: white;
	left: 1.2rem;
}

/* 
	nếu chiều rộng màn hình tối đa là 959px 
	có nghĩa là khi chiều rộng màn hình <= 959px
	thì sử dụng các style này
*/
@media screen and (max-width: 959px) {
	.main_header {
		grid-template-columns: 1fr;
		justify-items: center;
		padding: 1rem 0;
		min-height: 8rem;
	}

	.left_section {
		justify-self: start;
		max-width: none;
		grid-template-columns: 0 5fr;
		width: 100%;
	}

	.logo_icon {
		margin: 0 auto;
	}
}