<!-- Slide Menu-->
<aside class="side-menu-container" [ngClass]="{'side-menu-container-active': showMenu}" (click)="toggleMenu()">
  <!-- phương thức $event.stopImmediatePropagation()
    để ngăn chặn thực hiện hiện hàm toggleMenu khi kích vào menu -->
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu, 'slide-menu-active-dark': darkModeActive}"
    (click)="$event.stopImmediatePropagation();">
    <section class="menu-header" [ngClass]="{'menu-header-dark': darkModeActive}">
      <span class="greeting-text">Welcome Back</span>
      <div class="profile-image-container">
        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="profile-image"
          class="profile-image">
      </div>
      <div class="account-details">
        <span class="name-text">{{ userEmail }}</span>
        <span class="email-text">Free Plan</span>
      </div>
    </section>
    <section class="links-container">
      <ul class="menu-links" [ngClass]="{'menu-links-dark': darkModeActive}">
        <li class="menu-link" routerLink="" routerLinkActive="link-active" (click)="toggleMenu()">Home</li>
        <li class="menu-link" routerLink="/add" routerLinkActive="link-active" (click)="toggleMenu()">Add City</li>
        <li (click)="logout()" class="menu-link">Logout</li>
      </ul>
    </section>
    <section class="copyright-container">
      <small class="copyright-text">Copyright © 2019 Minimus</small>
    </section>
  </nav>
</aside>

<main [ngClass]="{'root-container-dark': darkModeActive}">
  <header [ngClass]="{'main-header-dark': darkModeActive}" class="main-header">

    <div class="left-section">
      <svg (click)="toggleMenu()" class="hamburger-icon" viewBox="31.5 30 49.9 32">
        <defs>
          <style>
            .hamburger-icon-fill {
              fill: rgb(0, 0, 0);
              width: 49.9px;
              height: 4px;
            }

            .hamburger-icon-fill-dark {
              fill: #fff;
            }
          </style>
        </defs>
        <rect [ngClass]="{'hamburger-icon-fill-dark': darkModeActive}" class="hamburger-icon-fill"
          transform="translate(31.5 35)"></rect>
        <rect [ngClass]="{'hamburger-icon-fill-dark': darkModeActive}" class="hamburger-icon-fill"
          transform="translate(31.5 47)"></rect>
        <rect [ngClass]="{'hamburger-icon-fill-dark': darkModeActive}" class="hamburger-icon-fill"
          transform="translate(31.5 58)"></rect>
      </svg>

      <svg class="logo-icon" viewBox="195.3 22.2 213.7 42.8">
        <!-- tam giác màu xanh lục -->
        <path fill="#00ff9b" d="M150.3 65V22.2L193 65z"></path>
        <!-- tam giác màu xanh dương -->
        <path fill="#003eff" d="M193.1 65h-42.8L193 22.2z"></path>
        <text [ngClass]="{'logo-text-dark': darkModeActive}" class="logo-text" fill="yellow"
          font-family="SegoeUI-Semibold, Segoe UI" font-size="30px" font-weight="bold" letter-spacing="0.1em"
          transform="translate(220 56)">
          <tspan>Minimus</tspan>
        </text>
      </svg>
    </div>

    <h3 class="date-text">Today</h3>

    <div>
      <span class="mode-toggle-text">Light</span>
      <label class="toggle-button-container" (click)="modeToggleSwitch()">
        <span [ngClass]="{'mode-toggle-bg-checked': darkModeActive}" class="mode-toggle-bg"></span>
        <span [ngClass]="{'mode-toggle-circle-checked': darkModeActive}" class="mode-toggle-circle"></span>
      </label>
      <span class="mode-toggle-text">Dark</span>
    </div>
  </header>

  <!-- Main Content -->
  <router-outlet></router-outlet>
</main>