<div class="root_container">
  <header [ngClass]="{'main_header-dark': darkModeActive}" class="main_header">

    <div></div>

    <h3 class="date_text">Today</h3>

    <div>
      <span class="mode-toggle_text">Light</span>
      <label class="toggle-button_container">
        <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle_input" />
        <span [ngClass]="{'mode-toggle_bg-checked': darkModeActive}" class="mode-toggle_bg"></span>
        <span [ngClass]="{'mode-toggle_circle-checked': darkModeActive}" class="mode-toggle_circle"></span>
      </label>
      <span class="mode-toggle_text">Dark</span>
    </div>
  </header>

  <main>
    <div class="main-container_bg" [ngClass]="{'main-container_bg-dark': darkModeActive}"></div>
    <router-outlet></router-outlet>
  </main>
</div>