.weather-card {
	display: grid;
	/* nội dung bên trong class này được canh giữa theo phương ngang */
	justify-items: center;
	/* khoảng cách đệm */
	padding: 2rem;
	/* khoảng cách lề */
	margin: 2rem;
	/* bề rộng và chiều cao do những thành phần bên trong chiếm (nếu không đặt) */
	/* width: 19rem; */
	/* chiều cao */
	/* height: 30rem; */
	cursor: pointer;
	background-color: rgb(119, 163, 156);
	border-radius: 1.75rem;
	animation: 1s ease-in-out slideup, 1.25s ease-in-out fadein;
}

.weather-card-dark {
	/* màu nền của card khi ở chế độ tối */
	background: linear-gradient(to bottom, #711B86, #00057A);
	color: white;
}

@keyframes slideup {
	0% {
    	transform: translateY(50%);
	}
	
	100% {
		transform: translateY(0);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

.city-name-text {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}

.weather-icon-container {
	margin-bottom: 2rem;
}

.weather-icon-container > svg {
	width: 15rem;
	height: 15rem;
}

.temperature-metric-text {
	font-size: 3rem;
}

.weather-condition-text {
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.min-max-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.min-container,
.max-container {
	margin: 1rem 3rem;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

/* style cho mũi tên */
.min-arrow-icon,
.max-arrow-icon {
	height: 1.25rem;
	margin: auto;
}

.max-arrow-icon {
	margin-bottom: -0.05rem;
}

.max-text {
	color: #FF0070;
}

.min-text {
	color: #00FF9B;
}

.max-text,
.min-text {
	text-align: center;
}

.max-temperature-text,
.min-temperature-text {
	font-size: 2rem;
}