.weather_card {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
	justify-items: center;
	padding: 2rem;
	margin: 2rem;
	width: 19rem;
	height: 30rem;
	cursor: pointer;
	background-color: white;
	border-radius: 1.75rem;
	animation: 1.25s ease-in-out 0ms 1 fadein;
}

.weather_card-dark {
	background: linear-gradient(to bottom, #711B86, #00057A);
	color: white;
}

.city-name_text {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}

.weather-icon_container {
	width: 10rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}

.weather-icon_container>svg {
	width: 10rem;
}

.temperature-metric_text {
	text-align: start;
	font-size: 3rem;
}

.weather-condition_text {
	display: block;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-align: center;
}

.min-max_container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.min_container,
.max_container {
	margin: 1rem 3rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}

.min-arrow_icon,
.max-arrow_icon {
	height: 1.25rem;
	margin: auto;
}

.max-arrow_icon {
	margin-bottom: -0.05rem;
}

.max_text {
	color: #FF0070;
}

.min_text {
	color: #00FF9B;
}

.max_text,
.min_text {
	font-size: 1rem;
	text-align: center;
}

.max-temperature_text,
.min-temperature_text {
	text-align: center;
	font-size: 2rem;
}