/* Home Layout */
.main_container {
    display: flex;
    /* hiển thị nội dung chính giữa theo phương ngang */
    justify-content: center;
    /* thực hiện xuống hàng nếu chiếm hết bề ngang */
    flex-wrap: wrap;
}